<h1 style="text-align: center; margin-top: 10%; font-size: 40px; font-weight: bold;">Welcome User</h1>
<button class="button" mat-raised-button routerLink="/customer/washpacks">MAKE REQUEST</button>

<!-- <mat-card class="card">
    <h1 style="text-align: center;">DashBoard</h1>

    <mat-card class="content">
        <button mat-list-item routerLink="/customer/greet">
            <mat-icon>home</mat-icon> Home
        </button>
    </mat-card>

    <mat-card class="content">
        <button mat-list-item routerLink='/customer/profile'>
            <mat-icon>account_circle</mat-icon> My Profile
        </button>
    </mat-card>

    <mat-card class="content">
        <button mat-list-item routerLink="/customer/washpacks">
            <mat-icon>view_list</mat-icon> WashPacks
        </button>
    </mat-card>

    <mat-card class="content">
        <button mat-list-item routerLink="/customer/add-order">
            <mat-icon>add_circle</mat-icon> Add Order
        </button>
    </mat-card>

    <mat-card class="content">
        <button mat-list-item routerLink="/customer/all-order">
            <mat-icon>shopping_cart</mat-icon> All Orders
        </button>
    </mat-card>

    <mat-card class="content">
        <button mat-list-item routerLink="/admin/addratings">
            <mat-icon>star</mat-icon> Ratings
        </button>
    </mat-card>
</mat-card> -->