<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="../../assets/log.webp" class="image">
            </div>
            <div class="col-md-6 mt-6" style="margin-top: 110px; margin-left: 150px;">
                <h1 class="text-center" style="color: rgb(0, 0, 0);">Login</h1>

                <form (ngSubmit)="formSubmit()">
                    <mat-form-field class="full-width" appearance="outline" background-color="black">
                        <mat-label>Username</mat-label>
                        <input [(ngModel)]="loginData.username" name="username" type="username" matInput placeholder="enter username" required="Required">
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input [(ngModel)]="loginData.password" name="password" type="password" matInput placeholder="enter password" required="Required">
                    </mat-form-field>

                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Login</button>
                        <a style="margin-left: 10px; font-size: 15px;" routerLink="/signup">Need an account ?</a>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>