<div class="card">
    <ul class="content">
        <button class="button" mat-list-item routerLink='/admin/profile'>
            <mat-icon>account_circle</mat-icon> My Profile
        </button>

        <button class="button" mat-list-item routerLink='/admin/allcustomers'>
            <mat-icon>home</mat-icon> Customers
        </button>

        <button class="button" mat-list-item routerLink='/admin/allwashers'>
            <mat-icon>home</mat-icon> Washers
        </button>

        <button class="button" mat-list-item routerLink='/admin/washpacks'>
            <mat-icon>view_list</mat-icon> WashPacks
        </button>

        <!-- <button mat-list-item routerLink="/admin/addwashpacks">
            <mat-icon>add_circle</mat-icon> Add WashPacks
        </button> -->

    </ul>
</div>