/* .card {
    margin-left: 0%;
    height: 100%;
    margin-top: 0px;
    background-color: rgb(92, 20, 92);
    /* background-color: #027b9a; 
}

mat-action-list {
    color: white;
}

mat-action-list :hover {
    background-color: rgb(201, 192, 192);
    /* background-color: rgb(105, 105, 105); 
} */

.card {
    background-color: transparent;
    /* background-color: rgb(92, 20, 92); */
    margin-left: 150%;
    width: 300%;
}

.button {
    margin-right: 15px;
    background-color: rgb(32, 52, 88);
    color: white;
    height: 50px;
}

.content {
    margin-left: 55px;
    margin-top: 10px;
}