.card {
    height: 45%;
}


/* .mt10 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 40px;
}

.m120 {
    margin-left: 20px;
} */


/* .mr20 {
    margin-left: 10px;
} */

.content {
    font-size: 18px;
}