<h1 style="text-align: center; margin-top: 10%; font-size: 40px; font-weight: bold;">Welcome User</h1>
<button class="button" mat-raised-button routerLink="/washer/all-order">ORDER REQUEST</button>
<!-- <mat-card class="card">
    <h1 style="text-align: center;">DashBoard</h1>
    <mat-card class="content">
        <button class="button" mat-list-item routerLink='/washer/greet'>
        <mat-icon>home</mat-icon> Home
    </button>
    </mat-card>

    <mat-card class="content">
        <button class="button" mat-list-item routerLink='/washer/washer-profile'>
        <mat-icon>account_circle</mat-icon> My Profile
    </button>
    </mat-card>

    <mat-card class="content">
        <button class="button" mat-list-item routerLink="/washer/all-order">
        <mat-icon>shopping_cart</mat-icon> All Orders
    </button>
    </mat-card>

    <mat-card class="content">
        <button class="button" mat-list-item routerLink="/washer/addratings">
        <mat-icon>star</mat-icon> Ratings
    </button>
    </mat-card>
</mat-card> -->