.main {
    background-color: rgb(170, 170, 252);
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 190px;
    margin-right: 190px;
}


/* 
.col-md-10 {
    margin-left: 120px;
    text-align: center;
    width: 60%;
}

.full-width {
    margin-left: 60px;
    width: 40%;
}

.detail {
    width: 100%;
} */

.container .row {
    margin-left: 60px;
}

.w100 {
    size: 90px;
    margin-left: 20px;
    width: 40%;
}