<div class="card">
    <ul class="content">

        <button class="button" mat-list-item routerLink='/customer/profile'>
            <mat-icon>account_circle</mat-icon> My Profile
        </button>

        <button class="button" mat-list-item routerLink="/customer/washpacks">
            <mat-icon>view_list</mat-icon>Book Wash
        </button>

        <button class="button" mat-list-item routerLink="/customer/view-order">
            <mat-icon>shopping_cart</mat-icon> Booking History
        </button>

    </ul>
</div>